.swiper-container
	.swiper-wrapper
		.swiper-slide
			img(src="img/slider-item.jpg", alt="")
		.swiper-slide
			img(src="img/slider-item.jpg", alt="")
		.swiper-slide
			img(src="img/slider-item.jpg", alt="")
	include slider-arrow/slider-arrow.jade