.list {
	position: relative;
	float: right;
	display: block;
	@media screen and (max-width: 992px) {
		position: absolute;
		top: 0px;
		right: 0;
		display: none;
		width: 100%;
		background-color: rgba(255,255,255,.3);
		text-align: center;
		padding-top: 120px;
		overflow-y: hidden;
	}
	&__item {
		display: inline-block;
		margin-left: 35px;
		margin-top: 25px;
		&:first-child {
			margin-left: 0px;
		}
		@media screen and (max-width: 992px) {
			display: table;
			margin: 0 auto;
			margin-bottom: 30px;
			&:first-child {
				margin: 0 auto;
				margin-bottom: 30px;
			}
		}
	}
	&__link {
		display: block;
		font-size: 18px;
		font-weight: bold;
		font-style: normal;
		color: #fff;
		text-transform: uppercase;
	}
}