ul.list
	li.list__item
		a.list__link(href="#") home
	li.list__item
		a.list__link(href="#") services
	li.list__item
		a.list__link(href="#") work
	li.list__item
		a.list__link(href="#") about us
	li.list__item
		a.list__link(href="#") team
	li.list__item
		a.list__link(href="#") blog
	li.list__item
		a.list__link(href="#") priceng
	li.list__item
		a.list__link(href="#") contact